# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class




.github\workflows/deploy.yml








# Environment Variables (Secrets)
.env
backend/.env
backend/vllm/.env
config/.env

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Virtual Environment
venv/
.venv/
env/
